<div class="jumbotron">
  <h1 class="display-4">Win more ex post</h1>
  <p class="lead text-dark">By making better decision ex ante.</p>
  <hr class="my-4">
  <h3>
  Analytics is crap.
  <small class="text-muted">Charles Barkley 2015</small>
</h3>
  <br>
  <p class="text-dark">Barkley goes on to say that the NBA comes down to talent.  He's right.  The most talented team wins (most of the time) - this is true for every league in every sport and it is just as true for fantasy sports.</p>
  <p class="text-dark">
    With hindsight, it is obvious that the Rocket, to whom Barkley was referring, were doing well because they had a talented team and had paid up for some superstars.  
    Where analytics adds value is in seeing potential that has been overlooked in players and plays - identifying the talent BEFORE it becomes obvious.
    Barkley takes for granted that James Harden was a talented player when the rockets drafted him.  But in 2012, conventional knowledge was that Harden was an all-star talent.  
    Daryl Morey and the Rockets recognized that Harden was an MVP talent before the others and picked him up for an all-star price.
  </p>
  <p class="text-dark">
    This is the value analytics provides.  With analytics, you can see what others don't.  You can scoop up an MVP at a discount. <br>
    
  </p>
    <hr class="my-4">
  <p class="lead text-dark">Scoop up more MVPs with Sports Signal.</p>
  <p class="lead">
    <a class="btn btn-info btn-lg" href="#" role="button">Try our demo</a>
  </p>
</div>